<h3>Dear {{assignor}}</h3>
<h5>You are welcome to Citifix</h5>

<p>
  {{assignee}}
  has accepted your contract request, you can now send a message</p>

<h3>Kindly Note that it's important you update you profile and pending
  information for a better experience</h3>
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
<p>Thank you!"
</p>