<h3>Dear {{name}}</h3>
<h5>You are welcome to Citifix</h5>
<h3>Welcome on board, We are positive that you have a wonderful experience using Cityfix</h3>
<h3>Kindly Note that it's import you update you profile information and password for a better experience</h3>
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
</p>
<p>Thank you!"
</p>